extends layout

block content
  h1 #{title}
  form(method='POST', action='/event/add')
    #form-group
      label Name:
      input.form-control(name='name', type='text')
    br
    #form-group
      label Category:
      select(name='category')
        option(value='') Please select category
        option(value='sports') Sports
        option(value='studies') Studies
        option(value='leisure') Leisure
        option(value='club activity') Club Activity
    br
    #form-group
      label Location:
      input(name='location', type='text')
    br
    #form-group
      label Date:
      input(name='date', type='date')
    br
    #form-group
      label Time (24h format):
      input(name='time',type="time")
    br
    #form-group
      label Description:
      textarea.form-control(name='description', type='text')
    br
    #form-group
      label(for='capacity') Capacity:
      input(type='number', name='capacity', min='1')
    br
    input.btn.btn-primary(type='submit',value='Submit')
