extends layout

block content
    h1 #{title}
    
    ul
        each event, i in events
            li
                a(href="/event/"+event._id)= event.name
            
                br
                form(method='POST', action='/event/join/' + event.id)
                    input(type='hidden', name="id", value=event.id)
                    input.btn.btn-primary(type='submit',value='Join the Event')