doctype html
html
  head
    title StudentHub
  body
    if user
      h1 LOGGED IN
    else
      h1 LOGGED OUT

    br
    form(action="/")
      input(type="submit" value="Home")
    if user
      br
      form(action="/event/add")
        input(type="submit" value="Add an Event")
      br
      form(action="/user/logout")
        input(type="submit" value="Logout")

    else
      br
      form(action="/user/login")
        input(type="submit" value="Log In")
      br
      form(action="/user/register")
        input(type="submit" value="Sign Up")

    != messages('message', locals)
    
    if errors
      each error, i in errors
        div(class="alert alert-danger") || #{error.msg} ||

    block content
    
    br
    hr
    footer
      p Copyright &copy; 2020 
