doctype html
html
  head
    title StudentHub
  body
    if user
      h1 LOGGED IN
    else
      h1 LOGGED OUT

    br
    form(method='GET', action="/")
      input(type="submit" value="Home")
    if user
      br
      form(method='GET', action="/event/add")
        input(type="submit" value="Add an Event")
      br
      form(method='GET', action="/user/logout")
        input(type="submit" value="Logout")
      br
      form(method='GET', action='/user/history/joined/')
        input(type="submit" value="Joined Events")
      br

    else
      br
      form(method='GET', action="/user/login")
        input(type="submit" value="Log In")
      br
      form(method='GET', action="/user/register")
        input(type="submit" value="Sign Up")
      br
      form(method='GET', action="/user/send/verification")
        input(type="submit" value="Havent got verification email?")
    
    br  

    form.form-inline(action='/search' method='GET')
      .form-group
        input.form-control(type='text' name='search' placeholder='Event search...')
        select(name='filterBy')
          option(value='') Filter By
          option(value='sports') Sports
          option(value='studies') Studies
          option(value='leisure') Leisure
          option(value='club activity') Club Activity
        select(name='sortBy')
          option(value='') Sort By
          option(value='1') Nearest Event
          option(value='-1') Later Event

        input.btn.btn-default(type='submit' value='Search')



    if errors
      each error, i in errors
        div(class="alert alert-danger") || #{error.msg} ||

    br
    //nampilin message kalo gagal login
    !=messages('message', locals)

    block content
    
    br
    hr
    footer
      p Copyright &copy; 2020 
