doctype html
html
  head
    title StudentHub
  body

    form(action="/")
      input(type="submit" value="Home")
    br
    form(action="/user/login")
      input(type="submit" value="Log In")
    br
    form(action="/user/register")
      input(type="submit" value="Join Us")
    br
    form(action="/event/add")
      input(type="submit" value="Add an Event")

    br

    != messages('message', locals)
    
    if errors
      each error, i in errors
        div(class="alert alert-danger") || #{error.msg} ||

    block content
    
    br
    hr
    footer
      p Copyright &copy; 2020 
