doctype html
html
  head
    title StudentHub
  body
    form(action="/event/add")
      input(type="submit" value="Add_event")

    br

    != messages('message', locals)
    
    if errors
      each error, i in errors
        div(class="alert alert-danger") || #{error.msg} ||

    block content
    
    br
    h3
      form(action="/")
        input(type="submit" value="Home")

    br
    hr
    footer
      p Copyright &copy; 2020 
