doctype html
html
  head
    title StudentHub

  body
    a(href="/event/add") add_article BUTTON

    block content

    br
    h3
      a(href="/") home BUTTON
    br
    hr
    footer
      p Copyright &copy; 2020 
