doctype html
html
  head
    title Login
    link(rel='stylesheet', href="https://fonts.googleapis.com/css2?family=Spartan&display=swap")
    style
      include ../public/css/style.css
body.background
    .box
      h1.title.titleLoginPadding Login
      form.loginForm(action='/user/login', method='post')
        input.input.inputStyle(name='username', type='text', placeholder='Username')
        input.input.inputStyle(name='password', type='password', placeholder='Password')
        input.input.submitButton(type='submit', value='Submit')
      a.tiny(href='/user/send/passwordreset')
        small Forgot Password?
      a.tiny(href='/user/register')
        small Sign Up
