<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Spartan&display=swap" rel="stylesheet">
  </head>
  <body class="background">

    <div class="box">
      <h1 class="title titleLoginPadding">Login</h1>
      <form class="loginForm" action="index.html" method="post">
        <input type="text" class="input inputStyle" placeholder="Username">
        <input type="password" class="input inputStyle" placeholder="Password">
        <input type="submit" class="input submitButton" value="Submit">
      </form>
      <a href="/ForgotPassword" class="tiny">
        <small>Forgot Password?</small>
      </a>
      <a href="/SignUp" class="tiny">
        <small>Sign Up</small>
      </a>
    </div>

  </body>
</html>
