doctype html
html
  head
    title Login
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css2?family=Spartan&display=swap")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    style
      include ../public/css/style.css
  !=messages('message', locals)
  body.background
    .box.container.overflow-auto
      .margin-auto
        h1.title.titleLoginPadding Login
        form(action='/user/login', method='post')
          if !danger
            .form-group.mb-5
              input.inputStyle.form-control.w-40.mx-auto(name='username', type='text', placeholder='Username')
            .form-group.mb-5
              input.inputStyle.form-control.w-40.mx-auto(name='password', type='password', placeholder='Password')
          else
            .form-group.mb-5
              h2.title #{danger}
            .form-group.mb-5
              input.red.form-control.w-40.mx-auto(name='username', type='text', placeholder='Username')
            .form-group.mb-5
              input.red.form-control.w-40.mx-auto(name='password', type='password', placeholder='Password')
          .form-group.mb-5
            input.submitButton.p-2(type='submit', value='Submit')
        a.tiny(href='/user/send/passwordreset')
          p Forgot Password?
        a.tiny(href='/user/register')
          p Sign Up
