doctype html
html
    head
        title Reset Password
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href="https://fonts.googleapis.com/css2?family=Spartan&display=swap")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
        style
            include ../public/css/style.css
    !=messages('message', locals)
    body.background
        .box.container.overflow-auto
            .margin-auto
                h1.title.titleLoginPadding Reset Password
                form(method='POST', action='/user/confirmedpasswordreset/' + token_id)
                    .form-group.mb-3
                        label.spartan Password:
                        if passwordError
                            input.red.form-control.spartan(name='password',type='password')
                            small.spartan #{passwordError.msg}
                        else
                            input.form-control.spartan(name='password',type='password')
                    .form-group.mb-3
                        label.spartan Confirm Password:
                        if confirmPasswordError
                            input.red.form-control.spartan(name='confirm_password',type='password')
                            small.spartan #{confirmPasswordError.msg}
                        else
                            input.form-control.spartan(name='confirm_password',type='password')
                    br
                    input.submitButtonNoWidth(type='submit',value='Submit')