<!DOCTYPE html>
<html>
  <head>
    <title>Student Hub</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Spartan&display=swap" rel="stylesheet">
  </head>
<body>
    <div id="page">
        <div>
            <h1>Student Hub</h1>
    </div>
            <ul>
                <li>Home</li>
                    <li class="has-dropdown">
                        <a>Events</a>
                            <ul class="dropdown">
								<li><a href="#">Add an Event</a></li>
								<li><a href="#">Search an Event</a></li>
								<li><a href="#">Created Events</a></li>
				            </ul>
                    </li>
            </ul>
        <div>
            <h2>Events</h2>
				<p>Find events to join.</p>
        </div>
                <h3><a href="#">Basketball</a></h3>
                    <p class="role">Melbourne Uni</p>
                <h3><a href="#">Drinking alcoholes</a></h3>
                    <p class="role">Unimelb</p>
    </div>
    </body>
</html>